.navbar-dark .navbar-nav .active .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #EA5823;
}
.navbar-nav{
    margin-left: auto;
    font-size: x-large ;
}
.login{
    background-color: #EA5823;
}
.navbar-item{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar{
    padding: 0px;
    line-height: 3rem;
    height: 60px;
}

.navbar .login{
    color: black;
}

html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    position: relative;
    box-sizing: inherit;
  }
  
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    max-width: 90rem;
    margin: 5rem auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  
 
  
  *, *::before, *::after {
    position: relative;
    box-sizing: inherit;
  }

  button , .login{
    border-width: 0px;
  }
