  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
            <h3>In.EX</h3>
            <ul class="footer-links">
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/shop">Shop</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>

        <div class="col-xs-6 col-md-3">
          <h3>EXPERIENCE</h3>
          <ul class="footer-links">
            <li><a>FAQ</a></li>
            <li><a>Shipping & Returns</a></li>
            <li><a>Store Policy</a></li>
            <li><a>Payment Methods</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h3>FOLLOW US</h3>
            <ul class="footer-links">
                <li><a>Facebook</a></li>
                <li><a>Twitter</a></li>
                <li><a>Instagram</a></li>
                <li><a>Pinterest</a></li>
            </ul>
          </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved | Created by 
       <a href="#">Shreshth</a>.
          </p>
        </div>
      </div>
    </div>
</footer>
