<div class="materialContainer">


  <div class="box">

     <div class="title">LOGIN</div>

     <div class="input">
        <input placeholder="Username" type="text" name="name" id="name">
        <span class="spin"></span>
     </div>

     <div class="input">
        <input placeholder="Password" type="password" name="pass" id="pass">
        <span class="spin"></span>
     </div>

     <div class="button login" (click)="onSubmit()">
        <button><span>GO</span> <i class="fa fa-check"></i></button>
     </div>

     <a href="" class="pass-forgot">Forgot your password?</a>

  </div>

  <div class="overbox">
     <div class="material-button alt-2"><span class="shape"></span></div>

     <div class="title">REGISTER</div>

     <div class="input">
        <input placeholder="Username" type="text" name="regname" id="regname">
        <span class="spin"></span>
     </div>

     <div class="input">
        <input placeholder="Password" type="password" name="regpass" id="regpass">
        <span class="spin"></span>
     </div>

     <div class="input">
        <input placeholder="Repeat Password" type="password" name="reregpass" id="reregpass">
        <span class="spin"></span>
     </div>

     <div class="button">
        <button><span>NEXT</span></button>
     </div>


  </div>

</div>