<div>
  <div (click)="onSubmit()">
    <a class="nav-link" routerLink='/home' routerLinkActive='active'><h3>Home</h3></a>
  </div>
  <div (click)="onSubmit()">
    <a class="nav-link"  routerLink='/shop' routerLinkActive='active'><h3>Shop</h3></a>
  </div>
  <div (click)="onSubmit()">
    <a class="nav-link"  routerLink='/about' routerLinkActive='active'><h3>About</h3></a>
  </div>
  <div (click)="onSubmit()">
    <a  class="nav-link"  routerLink='/members' routerLinkActive='active'><h3>Members</h3></a>
  </div>
  <div (click)="onSubmit()">
    <a class="nav-link" routerLink='/contact' routerLinkActive='active'><h3>Contact</h3></a>
  </div>
  <div (click)="onSubmit()">
    <h3 class="nav-link" (click)="openLoginForm()">Login</h3>
  </div>
</div>