<div style="height: 60px;"></div>

<img class="front-image col-md-5" src="/src/assets/shop1.jpg">
<img class="front-image col-md-7" src="/src/assets/shop2.jpg">



<form class="searchform searchbar">
    <input type="text" placeholder="Is it me you’re looking for?">
    <button type="submit">Search</button>
    <button class="dropdown btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</form>



<div class="container">


  <div class="row">
    <div class="col-md-3">
      <div class="dress-card">
        <div class="dress-card-head">
          <img class="dress-card-img-top" src="/src/assets/item13.webp" alt="">
          <div class="surprise-bubble"><span class="dress-card-heart">
              <i class="fas fa-heart"></i>
            </span><a href="#"> <span>More</span></a></div>
        </div>
        <div class="dress-card-body">
          <h4 class="dress-card-title">Essential Jacket</h4>
          <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
          <div class="row">
            <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="/src/assets/item14.webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Essential Jacket</h4>
            <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
            <div class="row">
              <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="/src/assets/item15.webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Essential Jacket</h4>
            <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
            <div class="row">
              <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="/src/assets/item16.webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
            </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Essential Jacket</h4>
            <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
            <div class="row">
              <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
            </div>
          </div>
        </div>
    </div>    
  </div>


    <div class="row">
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/item5.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Running Top</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item6.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
              </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Running Top</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item7.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
              </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Running Top</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item8.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
                </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Running Top</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
        </div>    
    </div>



    <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="/src/assets/item1.webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Sports InnerWear</h4>
            <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
            <div class="row">
              <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/item2.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Sports InnerWear</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/item3.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Sports InnerWear</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/item4.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
              </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Sports InnerWear</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
      </div>    
  </div>



    <div class="row">
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/item9.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Printed Leggings</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item10.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
              </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Printed Leggings</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item11.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
              </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Printed Leggings</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item12.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
                </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Printed Leggings</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
        </div>    
    </div>



    <div class="row">
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/item17.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Sports Shorts</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item18.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
              </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Sports Shorts</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item19.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
              </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Sports Shorts</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dress-card">
              <div class="dress-card-head">
                <img class="dress-card-img-top" src="/src/assets/item20.webp" alt="">
                <div class="surprise-bubble"><span class="dress-card-heart">
                    <i class="fas fa-heart"></i>
                  </span><a href="#"> <span>More</span></a></div>
                </div>
              <div class="dress-card-body">
                <h4 class="dress-card-title">Sports Shorts</h4>
                <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
                <div class="row">
                  <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
                </div>
              </div>
            </div>
        </div>    
    </div>

</div>