@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #EA5823;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.custom-dialog-container .mat-dialog-container {
    /* add your styles */
    position: absolute;
    padding: 0px;
    top: 60px;
    right: 0px;
    background-color: #343A40;
}