
<div style="height: 60px;"></div>
<div class="item">
  <img src="/ShoppingSite/assets/images/model1.webp" alt="" class="bg_img col-md-12" />
  
  <div class="text_wrapper">
    <div class="text_position">
      <h2 class="item--title">IT'S TIME</h2>
      <h2 class="item--title">TO STEP UP</h2>
      <h2 class="item--title">YOUR GAME</h2>
      <h2 class="item--title"><a routerLink='/shop'>Shop Now</a> </h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      
    <div class="col-md-4">
      <a routerLink='/shop'>
        <img class="dress-card-img-top" src="/ShoppingSite/assets/images/model3.webp">
      </a>
      <div class="pricefooter">
        <div class="button">
          <a routerLink='/shop'> 
            <div>Shop New </div>
            <div>Arrivals</div>
          </a>
        </div>
      </div>
    </div>
      
    <div class="col-md-4">
      <a routerLink='/shop'>
        <img class="dress-card-img-top" src="/ShoppingSite/assets/images/model4.webp">
      </a>
      <div class="pricefooter">
        <div class="button">
          <a routerLink='/shop'> 
            <div>Shop New </div>
            <div>BestSellers</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a routerLink='/members'>
        <img class="dress-card-img-top" src="/ShoppingSite/assets/images/model5.webp">
      </a>
      
      <div class="pricefooter">
        <div class="button">
          <a routerLink='/members'> 
            <div>Join Our </div>
            <div>Community</div>
          </a>
        </div>
      </div>
    </div> 
  </div>  
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">
  <h1>New Arrivals</h1>
  <br>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="/ShoppingSite/assets/images/product1.webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Printed Leggings</h4>
            <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
            <div class="row">
              <div class="col-md-12 card-button"><a><div class="card-button-inner bag-button">Quick View</div></a></div> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/ShoppingSite/assets/images/product2.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Seamless Bra</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/ShoppingSite/assets/images/product3.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Running Top</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/ShoppingSite/assets/images/product4.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Essential Jacket</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>    
    </div>
</div>