
<div class="item">
  <img src="/src/assets/model1.webp" alt="" class="bg_img" />
  <div class="text_wrapper">
    <div class="text_position">
      <h2 class="item--title">IT'S TIME</h2>
      <h2 class="item--title">TO STEP UP</h2>
      <h2 class="item--title">YOUR GAME</h2>
      <h2 class="item--title"><a routerLink='/shop'>Shop Now</a> </h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      
    <div class="col">
      <img class="gallery-image" src="/src/assets/model3.webp">
      <div class="pricefooter">
        <div class="button">
          <a> Shop New Arrivals </a>
        </div>
      </div>
    </div>
      
    <div class="col">
      <img class="gallery-image" src="/src/assets/model4.webp">
      <div class="pricefooter">
        <div class="button">
          <a> Shop New Arrivals </a>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="gallery-image" src="/src/assets/model5.webp">
      <div class="pricefooter">
        <div class="button">
          <a> Shop New Arrivals </a>
        </div>
      </div>
    </div> 
  </div>  
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container container-new-arrivals">
  <h1>New Arrivals</h1>
  <br>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="/src/assets/product1.webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Printed Leggings</h4>
            <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
            <div class="row">
              <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/product2.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Seamless Bra</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/product3.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Running Top</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="dress-card">
            <div class="dress-card-head">
              <img class="dress-card-img-top" src="/src/assets/product4.webp" alt="">
              <div class="surprise-bubble"><span class="dress-card-heart">
                  <i class="fas fa-heart"></i>
                </span><a href="#"> <span>More</span></a></div>
            </div>
            <div class="dress-card-body">
              <h4 class="dress-card-title">Essential Jacket</h4>
              <p class="dress-card-para"><span class="dress-card-price">$35.00</span></p>
              <div class="row">
                <div class="col-md-12 card-button"><a href=""><div class="card-button-inner bag-button">Quick View</div></a></div> 
              </div>
            </div>
          </div>
        </div>    
    </div>
</div>