.container{
    background-color: white;
    margin: auto;
    margin-top: 4%;
    padding: 15%;
}
.content ,h2{
    overflow-wrap: break-word;
    line-height: 3rem;
    text-align: center;
    margin: auto;
}

.btn ,.btn-warning{
    width: 100px;
    color: white;
    font-weight: .2;
    font-size: large;
    background-color: #EA5823;
}

.btn:hover{
    background-color: #343A40;
}